---
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { Button } from "@radix-ui/themes";
import { SaveIcon } from "lucide-react";
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>
        <div class="flex items-center justify-between">
          Edit Project
          <Button variant="surface">
            <SaveIcon className="size-4" />
            Save Changes
          </Button>
        </div>
      </h1>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
