---
import AppLayout from "@/layouts/app-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import { Button } from "@radix-ui/themes";
import { Edit3Icon } from "lucide-react";
import { actions } from "astro:actions";

const { id } = Astro.params;
if (!id) return Astro.redirect("/projects");

const { data: project, error } = await Astro.callAction(
  actions.projects.getOne,
  { projectId: id },
);
if (error) return Astro.redirect("/projects");
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>
        <div class="flex items-center justify-between">
          {project.name}
          <a href={`/projects/${project.id}/edit`}>
            <Button variant="surface">
              <Edit3Icon className="size-4" />
              Edit Project
            </Button>
          </a>
        </div>
      </h1>
      <p>{project.description}</p>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
