---
import AlertSystem from "@/components/alert-system/alert-system";
import AppSidebar from "@/components/app-sidebar";
import { getUser, getProjects } from "@/lib/server/helpers";
import { Separator, Heading } from "@radix-ui/themes";

const user = await getUser(Astro);
if (!user) return Astro.redirect("/welcome");

const projects = await getProjects(Astro);

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<main class="flex h-[100dvh]">
  <AppSidebar
    client:load
    user={user}
    projects={projects}
    pathname={Astro.url.pathname}
  />
  <Separator orientation="vertical" size="4" />
  <article class="flex-1 flex flex-col">
    <header class="h-14 shrink-0 container2 flex items-center">
      <Heading>
        {title}
      </Heading>
    </header>
    <Separator size="4" />
    <section class="container2 py-4"><slot /></section>
    <AlertSystem client:load />
  </article>
</main>
