---
import RadixProvider from "@/app/components/radix-provider";
import RootLayout from "@/layouts/root-layout.astro";

import Empty from "@/app/components/ui/empty";
import { ArrowLeftIcon, InfoIcon } from "lucide-react";
import { Button, Link, Text } from "@radix-ui/themes";

const message = Astro.url.searchParams.get("message") || "Error Encountered";
---

<script>
  const btn = document.getElementById("back-button");
  btn?.addEventListener("click", () => {
    window.history.back();
  });
</script>

<RootLayout>
  <RadixProvider>
    <Empty.Root className="h-screen relative">
      <Empty.Header>
        <Empty.Media>
          <InfoIcon className="size-8 text-red-10" />
        </Empty.Media>
        <Empty.Title>{message}</Empty.Title>
        <Empty.Description>
          Oh no! There was an error sending your message. Please try again
          later.
        </Empty.Description>
      </Empty.Header>
      <Empty.Content>
        <Button id="back-button">
          <ArrowLeftIcon className="size-4" />
          Back
        </Button>
      </Empty.Content>
      <Text size="1" color="gray" className="absolute bottom-8">
        Create your own contact form at <Link
          href="https://contactulator.rileys-projects.com"
          >contactulator.rileys-projects.com</Link
        >
      </Text>
    </Empty.Root>
  </RadixProvider>
</RootLayout>
