---
import RadixProvider from "@/app/components/radix-provider";
import RootLayout from "@/layouts/root-layout.astro";

import {
  Empty,
  EmptyContent,
  EmptyDescription,
  EmptyHeader,
  EmptyMedia,
  EmptyTitle,
} from "@/app/components/ui/empty";
import { ArrowLeftIcon, InfoIcon } from "lucide-react";
import { Button, Link, Text } from "@radix-ui/themes";

const message = Astro.url.searchParams.get("message") || "Error Encountered";
---

<script>
  const btn = document.getElementById("back-button");
  btn?.addEventListener("click", () => {
    window.history.back();
  });
</script>

<RootLayout>
  <RadixProvider>
    <Empty className="h-screen relative">
      <EmptyHeader>
        <EmptyMedia>
          <InfoIcon className="size-8 text-red-10" />
        </EmptyMedia>
        <EmptyTitle>{message}</EmptyTitle>
        <EmptyDescription>
          Oh no! There was an error sending your message. Please try again
          later.
        </EmptyDescription>
      </EmptyHeader>
      <EmptyContent>
        <Button id="back-button">
          <ArrowLeftIcon className="size-4" />
          Back
        </Button>
      </EmptyContent>
      <Text size="1" color="gray" className="absolute bottom-8">
        Create your own contact form at <Link
          href="https://contactulator.rileys-projects.com"
          >contactulator.rileys-projects.com</Link
        >
      </Text>
    </Empty>
  </RadixProvider>
</RootLayout>
