---
import { createDb } from "@/db";
import getProjectsStore from "@/stores/project-store";
import AppLayout from "@/layouts/app-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import ProjectCard from "@/components/project-card";
import SearchBar from "@/components/search-bar";
import ProjectEditor from "@/components/project-editor";
import PageHeader from "@/components/page-header";

const db = createDb(Astro.locals.runtime.env);
const userId = Astro.locals.user?.id;
if (!userId) return Astro.redirect("/welcome");

const search = Astro.url.searchParams.get("search") ?? undefined;

const projectsStore = getProjectsStore(db, userId);
const projects = await projectsStore.getAll(search);
---

<RootLayout>
  <AppLayout>
    <PageHeader
      breadcrumbs={[
        {
          text: "Projects",
          href: "/",
        },
      ]}
    >
      <SearchBar search={search} pathname={Astro.url.pathname} />
      <ProjectEditor client:load />
    </PageHeader>
    <MarkdownLayout>
      <h1>Projects</h1>
      <p>Click on a project to see details and messages</p>
    </MarkdownLayout>
    <div
      class="grid gap-4 grid-cols-[repeat(auto-fit,_minmax(250px,1fr))] py-4"
    >
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </AppLayout>
</RootLayout>
