---
import { Button } from "@radix-ui/themes";
import AppLayout from "@/layouts/app-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <AppLayout title="Settings">
    <a href="/logout">
      <Button className="w-full!"> Logout </Button>
    </a>
  </AppLayout>
</RootLayout>
