---
import MessageTable from "@/components/message-table";
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { actions } from "astro:actions";

const { messageId } = Astro.params;
if (!messageId) return Astro.redirect("/messages");

const message = await Astro.callAction(actions.messages.getOne.orThrow, {
  messageId,
});
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>Message</h1>
      <p>{message.content}</p>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
