---
import MessageTable from "@/components/message-table";
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { actions } from "astro:actions";

const pageParam = Astro.url.searchParams.get("page");
const page = pageParam ? parseInt(pageParam, 10) : 1;

const { messages, pagination } = await Astro.callAction(
  actions.messages.getAll.orThrow,
  { page },
);
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>Messages</h1>
      <section class="not-prose">
        <MessageTable
          messages={messages}
          pagination={pagination}
          url={Astro.url}
        />
      </section>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
