---
import MessageTable from "@/components/message-table";
import ProjectTags from "@/components/project-tags";
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { actions } from "astro:actions";

const { projectId } = Astro.params;
if (!projectId) return Astro.redirect("/projects");

const [project, messages] = await Promise.all([
  Astro.callAction(actions.projects.getOne.orThrow, { projectId }),
  Astro.callAction(actions.messages.getAll.orThrow, { projectId }),
]);
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>{project.name}</h1>
      <p>{project.description}</p>
      <ProjectTags project={project} />
      <section class="not-prose">
        <MessageTable messages={messages} />
      </section>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
