---
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { Badge } from "@radix-ui/themes";
import { actions } from "astro:actions";

const { projectId } = Astro.params;
if (!projectId) return Astro.redirect("/projects");

const project = await Astro.callAction(actions.projects.getOne.orThrow, {
  projectId,
});
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>{project.name}</h1>
      <p>{project.description}</p>
      <section class="mt-4 flex flex-wrap gap-3">
        <Badge>{project.messageCount} messages</Badge>
        <Badge color="gray" className="font-mono">
          {project.identifier}
        </Badge>
      </section>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
