---
import ProjectForm from "@/components/project-form";
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>Add Project</h1>
    </MarkdownLayout>
    <ProjectForm client:load />
  </AppLayout>
</RootLayout>
