---
import AppLayout from "../_app-layout.astro";
import MarkdownLayout from "../_markdown-layout.astro";
import RootLayout from "../_root-layout.astro";
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>Add Project</h1>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
