---
import ProjectAddLink from "@/components/project-add-link";
import ProjectCard from "@/components/project-card";
import SearchForm from "@/components/search-form";
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { actions } from "astro:actions";

const search = Astro.url.searchParams.get("search") ?? undefined;

const projects = await Astro.callAction(actions.projects.getAll.orThrow, {
  search,
});
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <header class="flex items-baseline justify-between">
        <h1>Projects</h1>
        <section class="flex items-center gap-4">
          <SearchForm search={search} url={Astro.url} />
          <ProjectAddLink />
        </section>
      </header>
      <section class="not-prose grid gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </section>
    </MarkdownLayout>
  </AppLayout></RootLayout
>
