---
import ProjectForm from "@/components/project-form";
import AppLayout from "@/layouts/app-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <AppLayout>
    <MarkdownLayout>
      <h1>New Project</h1>
      <section class="not-prose">
        <ProjectForm />
      </section>
    </MarkdownLayout>
  </AppLayout>
</RootLayout>
