---
import Logo from "@/components/logo";
import { ACCENT_COLOR } from "@/lib/client/constants";
import UserMenu from "@/components/user-menu";
import { createDb } from "@/db";
import getUserStore from "@/stores/user-store";
import { Separator } from "@/components/ui/separator";

const db = createDb(Astro.locals.runtime.env);
const userId = Astro.locals.user?.id;
if (!userId) return Astro.redirect("/welcome");

const userStore = getUserStore(db, userId);
const user = await userStore.getOne(userId);
if (!user) return Astro.redirect("/welcome");
---

<header class="shrink-0 container2">
  <div class="flex items-center justify-between h-20">
    <Logo />
    <UserMenu user={user} client:load />
  </div>
</header>
<div class="container2">
  <Separator />
</div>

<main class="container2 py-6">
  <slot />
</main>
