---
import UserMenu from "@/components/user-menu";
import DeleteConfirm from "@/components/delete-confirm";
import { ACCENT_COLOR } from "@/lib/constants";
import { Heading, Link, Separator } from "@radix-ui/themes";
import { actions } from "astro:actions";
import { PhoneIcon } from "lucide-react";

const user = await Astro.callAction(actions.users.getOne.orThrow, {});

const links = [
  { href: "/messages", label: "Messages" },
  { href: "/projects", label: "Projects" },
];
---

<main class="container2">
  <header class="h-16 flex items-center justify-between gap-4">
    <a href="/" class="flex items-center gap-3">
      <PhoneIcon className="size-6 text-accent-10" />
      <Heading size="4" className="leading-tight"> Contactulator </Heading>
    </a>
    <section class="flex items-center gap-6">
      {
        links.map((link) => {
          const isActive = Astro.url.pathname.startsWith(link.href);
          return (
            <Link
              href={link.href}
              size="2"
              color={isActive ? ACCENT_COLOR : "gray"}
            >
              {link.label}
            </Link>
          );
        })
      }
      <UserMenu client:load user={user} />
    </section>
  </header>
  <Separator size="4" color={ACCENT_COLOR} />
  <article class="py-6 grid gap-8">
    <slot />
  </article>
  <DeleteConfirm client:load />
</main>
