---
import "@fontsource-variable/noto-sans-tc";
import '@fontsource-variable/overpass';
import '@fontsource-variable/aleo';
import '@fontsource-variable/radio-canada';

import "@radix-ui/themes/styles.css";
import "@/styles/global.css";
import RadixProvider from "@/components/radix-provider";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Contactulator</title>
  </head>
  <body>
    <RadixProvider client:load>
      <slot />
    </RadixProvider>
  </body>
</html>
